html {
  height: 100%;
}

/* ORANGE */
/* #loginButton {
  width: 100%;
  background-color: #f36025;
  border-color: #f17b4c;
}

#loginButton:hover {
  background-color: #fa7c4a;
  border-color: #fb6e37;
} */

/* GREEN */
#loginButton {
  width: 100%;
  background-color: #146839;
  border-color: #146839;
}

#loginButton:hover {
  background-color: #1c864a;
  border-color: #1c864a;
}

.MdpOublie {
  color: #1c864a;
  text-decoration: underline;
  font-size: 1.1em;
  float: right;
  background-color: transparent;
}

.EnvoyerMail {
  color: #ffffff;
  background-color: #1c864a;
  text-decoration: underline;
  font-size: 1.1em;
  float: left;
  width: 30%;
}

.login-content {
  padding: 15px 10px;
}

.logo2 {
  width: 100%;
}

.login-container {
  width: 30%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-container img {
  width: 230px;
  /* height:73px; */
  margin: 0 0 20px 0;
}

.login {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  border-radius: 3px;
  background: rgb(245, 245, 245, 0.3);
  overflow: hidden;
  animation: input_opacity 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0.8;
}